<div class="container">
  <div class="register-container">
    <h2>Register</h2>
    <form #form="ngForm" (ngSubmit)="register(form)">
      <div class="form-group">
        <label for="username">Username:</label>
        <input
          type="text"
          id="username"
          name="username"
          placeholder="Elena"
          ngModel
          required
          #inputUsername="ngModel"
        />
      </div>
      <ng-container *ngIf="inputUsername.touched">
        <p class="error" *ngIf="inputUsername.errors?.['required']">
          Username is required!
        </p>
      </ng-container>
      <div class="form-group">
        <label for="email">Email:</label>
        <input
          type="text"
          id="email"
          name="email"
          placeholder="elena@abv.bg"
          ngModel
          required
          #inputEmail="ngModel"
        />
      </div>

      <ng-container *ngIf="inputEmail.touched">
        <p class="error" *ngIf="inputEmail.errors?.['required']">
          Email is required!
        </p>
        <p class="error" *ngIf="inputEmail.errors?.['emailValidator']">
          Email is not valid!
        </p>
      </ng-container>

      <div class="form-group">
        <label for="password">Password:</label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="******"
          ngModel
          required
          #inputPassword="ngModel"
        />
      </div>
      <div class="form-group">
        <label for="rePassword">Re-enter Password:</label>
        <input
          type="password"
          id="rePassword"
          name="reRassword"
          placeholder="******"
          ngModel
          required
          #inputRePassword="ngModel"
        />
      </div>

      <ng-container *ngIf="inputPassword.touched">
        <p class="error" *ngIf="inputPassword.errors?.['required']">
          Password is required!
        </p>
        <p class="error" *ngIf="inputPassword.errors?.['minlength']">
          Password must be at least 5 characters!
        </p>
        <!-- <p
            
          >
           Repeat Password do not match password!
          </p> -->
      </ng-container>
      <button type="submit">Create Account</button>
    </form>
    <div class="login-container">
      <h3>You are already registered?</h3>
      <h3><a routerLink="/auth/login">Login</a></h3>
    </div>
  </div>
</div>
<!-- 
[disabled]="form.invalid"
        [style]="{ backgroundColor: form.invalid ? 'grey' : 'blue' }" -->
