<div class="container">
  <div class="register-container">
    <h2>Register</h2>
    <form>
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required />
      </div>
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required />
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
      </div>
      <div class="form-group">
        <label for="repassword">Re-enter Password:</label>
        <input type="password" id="repassword" name="repassword" required />
      </div>
      <button type="submit">Register</button>
    </form>
    <div class="login-container">
      <h3>You are already registered?</h3>
      <h3><a href="/login">Login</a></h3>
    </div>
  </div>
</div>
