<header>
  <h1>Welcome to Your Profile Page, {{ username }}</h1>
</header>
<div class="container">
  <section id="email">
    <h2>Email</h2>
    <p>Your email: {{ email }}</p>
  </section>

  <section id="posts">
    <h2>My Posts</h2>
    <div class="posts">
      <div class="post" *ngFor="let post of filteredPosts">
        <h3>{{ post.title }}</h3>
        <p>{{ post.text.slice(0, 70) + "..." }}</p>
        <a routerLink="/posts/{{ post._id }}">Open it</a>
      </div>
      <div class="post" *ngIf="filteredPosts.length === 0">
        <h2>No Posts yet.</h2>
      </div>
    </div>
  </section>
</div>
