<header class="section-header">
    <div class="container">

    </div>
</header>

<div class="section-banner">
    <div class="container">
        <span class="ban">
            <h3>Mission</h3>
            <p>making friends while discussing books</p>
        </span>
        <span class="ban">
            <h3>Vision</h3>
            <p>a safe place for book lovers</p>
        </span>
        <span class="ban">
            <h3>Inspiration</h3>
            <p>our inspo is the educated and well-read women</p>
        </span>
        <span class="ban">
            <h3>Be brave</h3>
            <p>share your thoughts with us</p>
        </span>

    </div>
</div>

<section class="section-info">
    <div class="container">
        <span>
            <h2> The Besties' Book Club is an online community that aims to fill in your cup of motivation and inspiration to become a more 
                well-read and educated lady while making friends discussing the most amazing and inspiring books of all time. </h2>
        </span>
    </div>
</section>

<section class="section-content">
    <div class="container">
        <span class="first">
            <img src="https://images.unsplash.com/photo-1546177461-68622f53ed0e?q=80&w=3174&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="navy blue fashion">
            <div class="content">
                <h3>Create Your Post</h3>
                <p>In your post you are free to share your thoughts and notes about the book you are currently reading, an author who has impressed you, a favorite quote from a book or a topic which you want to share and discuss with us!</p>
            </div>
        </span>
        <span class="second">
            <img src="https://images.unsplash.com/photo-1544185310-0b3cf501672b?q=80&w=3087&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D " alt="sporty and rich">
            <div class="content">
                <h3>Review our Books</h3>
                <p>Each month we have a book of the month and other recommendations from which you can choose your next read. Feel free to like and comment on our recommendations so we can easily decide the book of the next month.</p>
            </div>
        </span>
        <span class="third">
            <img src="https://images.unsplash.com/photo-1519682337058-a94d519337bc?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="music">
            <div class="content">
                <h3>Good music is our therapy and booster</h3>
                <p>And because we know how important it is for a reader to put the perfect playlist in the background while they are reading, here is our favorite one:
                   https://www.youtube.com/watch?v=KwXyVh1zIhM&t=979s</p>
            </div>
        </span>
    </div>
</section>