<div class="container">
  <div class="login-container">
    <h2>Welcome back!</h2>
    <form #form="ngForm" (ngSubmit)="login(form)">
      <div class="form-group">
        <label for="email">Email:</label>
        <input
          type="text"
          id="email"
          name="email"
          placeholder="elena@abv.bg"
          ngModel
          #inputEmail="ngModel"
          required
        />
      </div>
      <ng-container *ngIf="inputEmail.touched">
        <p class="error" *ngIf="inputEmail.errors?.['required']">
          Email is required!
        </p>
        <p class="error" *ngIf="inputEmail.errors?.['emailValidator']">
          Email is not valid!
        </p>
      </ng-container>

      <div class="form-group">
        <label for="password">Password:</label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="******"
          ngModel
          #inputPassword="ngModel"
          required
          minlength="5"
        />
      </div>

      <ng-container *ngIf="inputPassword.touched">
        <p class="error" *ngIf="inputPassword.errors?.['required']">
          Password is required!
        </p>
        <p class="error" *ngIf="inputPassword.errors?.['minlength']">
          Password must be at least 5 characters!
        </p>
      </ng-container>

      <button type="submit">Login</button>
    </form>
    <div class="login-container">
      <h3>Do not have an account?</h3>
      <h3><a routerLink="/auth/register">Register</a></h3>
    </div>
  </div>
</div>
