<div class="container">
  <div class="login-container">
    <h2>Welcome back!</h2>
    <form [formGroup]="form" (ngSubmit)="login()">
      <div class="form-group">
        <label for="email">Email:</label>
        <input
          type="text"
          id="email"
          name="email"
          placeholder="elena@abv.bg"
          formControlName="email"
        />
      </div>
      <ng-container *ngIf="form.get('email')?.touched">
        <p class="error" *ngIf="form.get('email')?.errors?.['required']">
          Email is required!
        </p>
        <p class="error" *ngIf="form.get('email')?.errors?.['emailValidator']">
          Email is not valid!
        </p>
      </ng-container>

      <div class="form-group">
        <label for="password">Password:</label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="******"
          formControlName="password"
        />
      </div>
      <ng-container *ngIf="form?.get('password')?.touched">
        <p class="error" *ngIf="form?.get('password')?.errors?.['required']">
          Repeat Password does not match password!
        </p>
      </ng-container>

      <button type="submit">Login</button>
    </form>
    <div class="login-container">
      <h3>Do not have an account?</h3>
      <h3><a href="/register">Register</a></h3>
    </div>
  </div>
</div>
