<div class="section-top-bar">
  <div class="container">
    <ul class="nav">
      <li>
        <a routerLink="/">Home</a>
      </li>
      <li><a routerLink="/books">Books</a></li>
      <li><a routerLink="/posts">Posts</a></li>
      <li><a routerLink="#">Create a Post</a></li>
      <li><a routerLink="/profile">My profile</a></li>
    </ul>
    <span
      ><a routerLink="/auth/register" class="button-23">Join Our Club!</a></span
    >
    <!-- <span><button class="button">Log out</button></span> -->
  </div>
</div>
