<div class="section-top-bar">
  <div class="container">
    <ul class="nav">
      <li>
        <a routerLink="/">Home</a>
      </li>
      <li><a routerLink="/books">Books</a></li>
      <li><a routerLink="/posts">Posts</a></li>
      <div *ngIf="isLoggedIn">
        <ul class="nav">
          <li><a routerLink="#">Create a Post</a></li>
          <li>
            <a routerLink="/profile">{{ username }}`s profile</a>
          </li>
        </ul>
      </div>
    </ul>
    <span *ngIf="!isLoggedIn"
      ><a routerLink="/auth/register" class="button-23">Join Our Club!</a></span
    >
    <span *ngIf="isLoggedIn"
      ><a (click)="logout()" class="button-23">Log out</a></span
    >
    <!-- <span><button class="button">Log out</button></span> -->
  </div>
</div>
